/*==============================Grid-systemet=============================*/
* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    font-family: 'Cabin Sketch', cursive;
}

h1 {
    margin: 0;
    margin-left: 10%;
    position: relative;
    top: 200px;
    font-size: 700%;
    color: yellow;
    letter-spacing: 3px;
    transform: rotate(-2deg);
}

h2 {
    font-size: 300%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.collapse {
        display: block;
    }

/*----------------Header--------------*/

header {
    height: 130px;
    background-color: black;
}

.headerbild {
    width: 100%;
    height: 200px;
    top: 0px;
    position: absolute;
    overflow: hidden;
}

.headerbild img {
    top: -145px;
    width: 1200px;
    position: absolute;
    left: 10%;
}

.headerblad img{
    height: 300px;
    position: fixed;
    top: -100px;
    left: -80px;
    animation-name: headerblad;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 2;
}

@keyframes headerblad {
    0% {transform: rotate(6deg);}
    50% {transform: rotate(-6deg);}
    100% {transform: rotate(6deg);}
}

.ljusslinga {
    height: 200px;
    width: 100%;
    top: 0px;
    position: absolute;
    overflow: hidden;
}

.ljusslinga img {
    width: 1500px;
    position: absolute;
    top: 50px;
}

.meny {
    color: yellow;
    font-family: 'Cabin Sketch', cursive;
    position: absolute;
    right: 10px;
    top: 5px;
    text-align: right;
    line-height: 2;
}

.meny a {
    color: yellow;
}

.meny a:hover {
    color: rgb(247, 155, 92);
}

ul {
  list-style-type: none;
}

/*----------------Giraffen--------------*/
.giraff img{
    height: 200px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 5;
}

.hovergiraff img{
    height: 200px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 6;
}

.imageBox {
            position: relative;
            float: left;
        }
        .imageBox .hovergiraff {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }
        .imageBox:hover .hovergiraff {
            display: block;
        }



/*----------------Startbilden--------------*/

.bakgrundsbild {
    background-image: url(pineapple-supply-co-54478-unsplash.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: left;
}

.bakgrundsbild h2 {
    color: white;
    top: 170px;
    margin-left: 10%;
    position: relative;
    transform: rotate(-2deg);
    font-size: 200%;
}



/*----------------Innehållsraderna--------------*/

.barenrad, .poolrad, .butikrad {
    overflow: hidden;
    padding-top: 30px;
}

.barenrad p, .poolrad p, .butikrad p {
    line-height: 2;
}

.oppettider h3 {
    padding-top: 50px;
    color: rgb(247, 155, 92);
    font-family: 'Cabin Sketch', cursive;
    line-height: 1.4;
}

.barenbild, .poolbild, .butikbild {
    width: 100%;
}

.poolrad a {
    color: rgb(247, 155, 92);
}

.poolrad a:hover {
    color: turquoise;
}

.erbjudande {
    background-color: rgb(247, 155, 92);
    color: white;
    font-size: 120%;
    width: 160px;
    height: 160px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    border-radius: 80px;
    text-align: center;
    font-family: 'Cabin Sketch', cursive;
    padding-top: 50px;
    position: relative;
    left: -80px;
    top: 20px;
    box-shadow: 1px 1px 15px grey;
}

.hideme{
    opacity:0;
    margin-top: 200px;
}

/*----------------Footer--------------*/
footer {
    background-color: rgb(247, 155, 92);
    overflow: hidden;
    position: relative;
}

.footer div {
    padding: 0;
}

footer a {
    color: turquoise;
    text-decoration: none;
}

footer a:hover {
    color: darkslateblue;
}

.giraffbehallare {
    position: absolute;
    min-height: 200px;
    bottom: -50px;
}  

.giraffhuvud {
    width: 100%;
    display: block;
}

footer h3 {
    padding-top: 70px;
    color: white;
    font-size: 100%;
    line-height: 1.7;
}



/*==========================================MEDIA QUERIES=============================================*/
/*==========================================MEDIA QUERIES=============================================*/
/*==========================================MEDIA QUERIES=============================================*/


@media only screen and (max-width: 1100px) { 

.collapse {
    display: none;
}
    
.col-4 {
    width: 50%;
}    
    
.giraffbehallare {
    width: 35%;
}  
    
footer h3 {
    padding-top: 20px;
    padding-right: 10px;
}    
    
}





@media only screen and (max-width: 500px) {  

.headerblad img{
    height: 200px;
    top: -80px;
    left: -50px;
}    
    
header {
    height: 100px;
    }

.headerbild img {
    top: -70px;
    width: 700px;
    position: absolute;
    left: 20%;
    }
    
    .ljusslinga img {
    top: 20px;
    }
    
    .giraff img{
    height: 100px;
    }
    
    .hovergiraff img{
    height: 100px;
    }
    
    h1 {
        font-size: 300%;
    }
    
    h2 {
    font-size: 250%;
    }

    .bakgrundsbild h2 {
        font-size: 150%;
        color: darkslategray;
    }    
    
    .bakgrundsbild {
    background-size: cover;
    background-position: right;
    }
    
    .col-4, .col-3 {
        width: 100%;
    }
    
    .oppettider h3 {
        padding-top: 10px;
    }
    
    .giraffhuvud, #oppetfooter, .meny {
    display: none;
    }
    
    footer h3 {
        padding-left: 15px;
    }
    
    footer a {
        color: white;
    }
    
}